@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
  }

/* Estilo general para las imágenes de redes sociales */
.social img {
    width: 64px; /* Tamaño fijo para las imágenes */
    height: 64px; /* Tamaño fijo para las imágenes */
    object-fit: contain; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
    border-radius: 50%; /* Opcional: hace que las imágenes sean circulares */
    transition: transform 0.3s ease; /* Suaviza la animación al pasar el mouse */
}

.social img:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el mouse */
}



