

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.faq-question {
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color:rgb(77, 172, 228);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: aliceblue;
    transition: background-color 0.3s ease;
    font-family: Questrial, "sans-serif";
}

.faq-question:hover {
    background-color:rgb(77, 172, 228);
}

.faq-icon {
    float: right;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    padding: 15px;
    background-color: #fff;
    margin: 0;
    font-size: 20px;
    font-family: Questrial, "sans-serif";
}

.faq-item.active .faq-answer {
    max-height: 200px; /* Ajusta según sea necesario */
}
