* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

main {
    padding: 1rem;
    flex: 1;
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 20px;
}

.header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 40px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}

header nav a{
    margin: 35px;
    text-decoration: none;
    color: black;
    font-family: Questrial, "sans-serif";
    font-weight: bold;
    font-size: 18px;
}

header nav a:hover{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
}

.header h1{
    font-size: 70px;
    padding: 10px;
    font-family: Questrial, "sans-serif";
    color: rgb(41, 158, 197);
}

.video{
    width: 100%;
    height: 70%;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.video video{
    width: 90%;
    height: auto;
    border-radius: 10px;
    top: 0;
    margin-left: 5%;
    margin-right: 5%;
    filter: blur(2px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.video-overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cambia el color según sea necesario */
    text-align: center;
}

.video-overlay h2{
    font-size: 60px;
}

.boton1 {
    margin-top: 10px; /* Espacio entre el texto y el botón */
    background-color: rgb(41, 158, 197);
    border: none;
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    font-family: Questrial, "sans-serif";
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.boton1:hover{
    background-color: rgb(11, 105, 136);
    transition: 0.2s;
    padding: 25px;
}

.section1{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(243, 243, 243);
    margin-bottom: 30px;
    border-radius: 10px;
}

.section1 h1{
    padding: 30px;
    font-size: 60px;
    font-family: Questrial, "sans-serif";
    color: rgb(41, 158, 197);
}

.section1 p{
    padding: 20px;
    font-size: 25px;
    font-family: Questrial, "sans-serif";
    color: rgb(82, 81, 81);
}

.servicios{
    background-color: rgb(243, 243, 243);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.servicios h1{
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    font-family: Questrial, "sans-serif";
    color: rgb(41, 158, 197);
}

.carousel{
    display: flex;
    justify-content: space-around;
}

.carousel h2{
    display: flex;
    margin-top: 10%;
}

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 400px;
}

.sec1 img {
    width: 350px; /* Asegúrate de que la imagen ocupe todo el ancho de la sección */
    height: 400px; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 6px 10px rgba(3, 3, 3, 0.623);
    cursor: pointer;
}

.sec1 h2{
    margin-top: 20px;
    font-family: Questrial, "sans-serif";
    color: rgb(41, 158, 197);
    font-size: 28px;
}


.sec1 p{
    padding: 20px;
    font-size: 20px;
    font-family: Questrial, "sans-serif";
    color: rgb(82, 81, 81);
}

.boton2{
    margin-top: 10px; /* Espacio entre el texto y el botón */
    background-color: rgb(41, 158, 197);
    border: none;
    text-decoration: none;
    padding: 15px;
    color: aliceblue;
    font-size: 18px;
    font-weight:lighter;
    font-family: Questrial, "sans-serif";
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.boton2:hover{
    background-color: rgb(11, 105, 136);
    transition: 0.2s;
    padding: 20px;
}


.flip-container {
    /*perspective: 1000px;*/
    margin-bottom: 60%;
}

.flipper {
    position: relative;
    width: 300px; /* Ajusta el ancho según sea necesario */
    height: 200px; /* Ajusta la altura según sea necesario */
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flipper.flipped {
    transform: rotateY(180deg);
}

.preguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: rgb(243, 243, 243);
}

.preguntas h2{
    font-size: 40px;
    font-family: Questrial, "sans-serif";
    color: rgb(41, 158, 197);
    padding: 40px;
}

.frase{
    font-size: 30px;
    font-family: Questrial, "sans-serif";
    color:rgb(255, 255, 255);
    padding:60px;
    background-color: rgb(64, 174, 211);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    border-radius: 20px;
}

.redes iframe{
    margin: 20px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 30px;
    border-radius: 10px;
}

.redes h2{
    padding: 20px;
    margin: 10px;
    color: rgb(44, 140, 204);
    font-size: 40px;
    font-family: Questrial, "sans-serif";
}

.redes p{
    font-size: 35px;
    font-family: Questrial, "sans-serif";
    color:rgb(117, 117, 117);
    margin: 20px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(211, 211, 211);
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    margin: 30px;
    gap: 20px;
}

.social h2{
    color: rgb(82, 81, 81);
    font-size: 35px;
    font-family: Questrial, "sans-serif";
}

.social img{
    width: 70px;
    height: 70px;
    margin: 10px;
    cursor: pointer;
}

.social img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(64, 174, 211);
}

.footer h3{
    font-size: 30px;
    font-family: Questrial, "sans-serif";
    color:rgb(248, 246, 246);
}

.footer .pagina h1{
    font-size: 45px;
    font-family: Questrial, "sans-serif";
    color:rgb(248, 246, 246);
    margin-top: 0;
    padding: 20px;
}
.footer .pagina p{
    font-size: 30px;
    font-family: Questrial, "sans-serif";
    color:rgb(248, 246, 246);
}

.footer .pagina{
   padding: 30px;
   margin: 30px;
   gap: 20px;
}

.footer .pagina button{
    padding: 20px;
    margin: 30px;
    background-color: rgb(11, 105, 136);
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
    font-family: Questrial, "sans-serif";
    color:rgb(248, 246, 246);
}

.footer .pagina button:hover{
    background-color: rgb(27, 107, 153);
    transition: 0.2s;
    transform: scale(1.2);
}